/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
.rspec_status
Gemfile.lock
/.idea/
/.vscode/
.DS_Store
/log/
/log/*
!/log/.keep
/tmp/
/tmp/*
!/tmp/.keep
/vendor/bundle/
/vendor/cache/